__pycache__
.vscode
data
log*
*tfevents*
.*cache*
*temp*
!_temp.py
*.egg-info
build
*.log
*.json
program_output.txt

DS-1801
*.txt
pretrain_gpt2_codeparrot_short.sh
.hydra/*
cora/*
dataset/*
experiments/*