site_name: TrainCheck
site_url: https://orderlab.github.io/traincheck/
repo_url: https://github.com/OrderLab/traincheck
repo_name: OrderLab/traincheck

theme:
  name: material
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.instant
    - navigation.tracking
    - navigation.expand
    - navigation.top
    - toc.integrate
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.copy
  palette:
    # Palette toggle for light mode
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

extra_css:
  - stylesheets/extra.css

nav:
  - Home: index.md
  - Paper: https://www.usenix.org/conference/osdi25/presentation/jiang
  - Documentation:
    - "Installation Guide": installation-guide.md
    - "5 Minute Quick Start": 5-min-tutorial.md
    - "Success Stories": successful-stories.md
    - "Technical Documentation": technical-doc.md
    - "Usage Tips": usage-guide.md
    - "Performance Benchmarks": benchmarks.md

markdown_extensions:
  - attr_list
  - admonition
  - md_in_html
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
